# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# pytest cache directory
.cache/
pytest_cache/

# Unit test / coverage reports
.coverage
coverage.xml
*.cover
.hypothesis/
junit

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg
*.egg-info/
dist/
build/
